.places h1 {
    width: 100%;
    text-align: left; /*Top*/
    font-size: 30px;
}

.places {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.site {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
}

.site h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}